.footer {
  background-color: $color-gray;
  .wrapper {
    width: 1000px;
    padding: 15px;
    padding-bottom: 15px;
  }

  .footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 15px;
  }

  .footer__text {
    font-family: Arial, Helvetica, sans-serif;
    color: $color-white;
  }

  .navigation__link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $color-white;
    transition: 0.4s ease-in-out;
    &_active {
      color: $color-green;
    }
    &:hover {
      color: $color-green;
    }
  }
}