.footer {
  background-color: $color-gray;
  .wrapper {
    width: 1000px;
    padding: 15px;
    padding-bottom: 15px;
    @include media-tablet {
      // width: 760px;
      width: 100%;
    }
    @include media-mobile {
      // width: 470px;
      width: 100%;
    }
  }

  .footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 15px;
  }

  .footer__text {
    font-family: $font-add;
    color: $color-white;
    @include media-netbook {
      font-size: 15px;
    }
    @include media-mobile {
      font-size: 12px;
    }
  }

  .navigation__link {
    text-decoration: none;
    font-family: $font-add;
    font-size: 16px;
    color: $color-white;
    transition: 0.4s ease-in-out;
    &_active {
      color: $color-green;
    }
    &:hover {
      color: $color-green;
    }
    @include media-netbook {
      font-size: 14px;
    }
    @include media-mobile {
      font-size: 8px;
    }
  }
}