.header {
  .wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    @include media-tablet {
      width: 760px;
    }
    @include media-mobile {
      width: 470px;
    }
  }

  .logo__img {
    width: 30vh;
    @include media-netbook {
      width: 40vh;
      margin-left: 30px;
    }
    @include media-mobile {
      margin-left: 5px;
      width: 15vh;
      margin-top: 7px;
    }
  }

  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
  }

  .navigation__link {
    text-decoration: none;
    font-family: $font-add;
    font-size: 16px;
    color: $color-black;
    transition: 0.4s ease-in-out;
    &_active {
      color: $color-green;
    }
    &:hover {
      color: $color-green;
    }
    @include media-netbook {
      font-size: 14px;
    }
    @include media-mobile {
      font-size: 8px;
    }
  }
}